<script lang="ts">

  let serverUrl = localStorage.getItem('jf_serverUrl') || '';
  let apiKey = localStorage.getItem('jf_apiKey') || '';
  let userId = localStorage.getItem('jf_userId') || '';
  let collectionId = '';
  let outputName = '';

  let fetching = false;
  let collectionLoaded = false;
  let mixing = false;

  let items = [];
  let status = '';

  async function onFetchCollectionItems() {
    fetching = true;

    const result = await fetch(`${serverUrl}/Users/${userId}/Items?ParentId=${collectionId}`, { headers: { 'X-Emby-Token': apiKey } })
      .then(res => res.json())
      .catch(e => console.error(e));

    if (!result) {
      fetching = false;
      return;
    }

    localStorage.setItem('jf_serverUrl', serverUrl);
    localStorage.setItem('jf_apiKey', apiKey);
    localStorage.setItem('jf_userId', userId);

    fetching = false;
    collectionLoaded = true;

    items = result.Items;
  }

  async function onMixToPlaylist() {
    mixing = true;
    const itemsInPlaylistOrder = [];
    const grouped = groupItemsByParentId();


    let i = 0;
    while(true) {
      i++;
      status = `Added ${i} items`;

      // By making an array with many redundant parentIds I effectively get a weighted random selection
      // Without this a series will many episodes will have a huge block of just that show at the end of the playlist
      const parentIds = Array.from(grouped.values()).flat().map((t: any) => t.SeriesId || t.Id);

      // Exit when we've exhausted all parents
      if (!parentIds.length) break;

      const randomParentIndex = Math.floor(Math.random() * parentIds.length);
      const randomParent = parentIds[randomParentIndex];

      const parentItems = grouped.get(randomParent);
      
      itemsInPlaylistOrder.push(parentItems.pop());

      if (parentItems.length === 0) {
        grouped.delete(randomParent);
      }

      if (i > 10000) {
        throw new Error('Infinite loop, duh');
      }
    }

    status = `Mix Complete, Creating Playlist`;
    
    const firstItem = itemsInPlaylistOrder[0];
    const playlistResponse = await fetch(`${serverUrl}/Playlists?Name=${outputName}&Ids=${firstItem.Id}&userId=${userId}`, { method: 'POST', headers: { 'X-Emby-Token': apiKey, 'Content-Type': 'application/json' }})
      .then(res => res.json());

    const playlistId = playlistResponse.Id;
    status = `Playlist Created`;
    await tick(1 * 1e3);

    i = 0;
    for(let item of itemsInPlaylistOrder.slice(1)) {
      i++;
      await tick(500);

      status = `Creating Playlist: ${((i/itemsInPlaylistOrder.length) * 100).toFixed(0)}%`;
      await fetch(`${serverUrl}/Playlists/${playlistId}/Items?&Ids=${item.Id}&userId=${userId}`, { method: 'POST', headers: { 'X-Emby-Token': apiKey, 'Content-Type': 'application/json' }});
    }

    status = 'Mixed Playlist Created';
  }

  function tick(time: number) {
    return new Promise(res => setTimeout(res, time));
  }

  function groupItemsByParentId() {
    const grouped: Map<string, any[]> = items.reduce((acc: Map<any, any>, curr) => {

      let parentId = curr.SeriesId || curr.Id;

      if (!acc.has(parentId)) {
        acc.set(parentId, []);
      }

      acc.get(parentId).push(curr);

      return acc;
    }, new Map<string, any[]>())

    // Sorting per group
    const entries = Array.from(grouped.entries())
      .map(([parentId, gItems]) => {

        const sortedChildren = gItems.sort((b, a) => {
            return ((a.ParentIndexNumber * 1000) + (a.IndexNumber)) - ((b.ParentIndexNumber * 1000) + (b.IndexNumber));
          });

        return [
          parentId,
          sortedChildren
        ];
      });

    return new Map(entries as any) as Map<string, any[]>;
  }

</script>

<main>

    {#if !fetching && !collectionLoaded}
    <span>Server Url</span>
    <input bind:value={serverUrl} />

    <span>Api Key</span>
    <input bind:value={apiKey} />

    <span>UserId</span>
    <input bind:value={userId} />

    <span>CollectionId</span>
    <input bind:value={collectionId} />

    <button on:click={onFetchCollectionItems}>Fetch Collection</button>
    {/if}
    
    {#if fetching}
    <h3>Fetching ...</h3>
    {/if}
    
    {#if collectionLoaded && !mixing}
    <span>Contains:</span>
    <span>{items.length} items</span>
    
    <span>Output Name:</span>
    <input bind:value={outputName} />
    <button on:click={onMixToPlaylist}>Mix to Playlist</button>
    {/if}

    {#if mixing}
    <h3>{status}</h3>
    {/if}
</main>

<style>
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }

  button {
    grid-column-start: span 2;
  }
</style>
